.containerServices {
    width: 100%;
    height: 100%;
    background-color: #F0F0F0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.containerServices h1{
    margin: 1em 0 1em 0;
    color: black;
}
.servicesCard {
    width: 80%;
    height: 100%;
    padding: 36px;
    display: grid;
    grid-template-columns:repeat(4, minmax(100px, 1fr));
    gap: 2em;
    align-items: center;
    margin-bottom: 2em;
    margin-left: 4%;
}
.servicesComponent:nth-child(2),
.servicesComponent:nth-child(6) {
  gap: 8em;
}
.servicesComponent {
    width: 80%;
    height: 20em;
    padding: 16px;
    border-radius: 8px;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--colors-secondary-300);
}
.servicesComponent h3{
    color: white;
    font-size: 24px;
    font-family: istok web;
}
.servicesComponent svg{
    width: 48px;
    height: 48px;
    color: var(--colors-secondary-100);
    margin-top: 16px;
}
.textSvg{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.servicesComponent:nth-child(2) {
    margin-right: 128px;
}
.buttonUiServices{
    position: absolute;
    width: 48%;
    bottom: -3%;
}
.textDescriptionServices{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.textDescriptionServices h1 {
    margin-bottom: 16px;
    color: #413F3F
}
.textDescriptionServices h2 {
    margin-bottom: 16px;
    color: #413F3F;
    text-align: center;
}
.buttonWhatsComponent{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
}
.buttonWhatsCard{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    width: 30%;
}

@media (max-width:780px) {
    .servicesCard {
        width: 80%;
        height: 100%;
        padding: 36px;
        display: grid;
        grid-template-columns:repeat(2, minmax(100px, 1fr));
        gap: 1em;
        align-items: center;
        margin-bottom: 2em;
        margin-left: 4%;
    }
}
