.buttonUi{
    width: 100%;
    background-color: var(--colors-secondary-500);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    text-align: center;
}
.buttonUi:hover{
    color: black;
    background-color: var(--colors-secondary-100);
}
.buttonWhats{
    width: 100%;
    text-align: center;
    background-color: #1DD000;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}
.buttonArrow{
    width: 100%;
    height: 100%;
}
