.containerComents {
    width: 100%;
    height: 36em;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-image: url('../../image/background.avif');
}

.cardcoments {
    width: 76%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    overflow: hidden;
}
.clientLogo{
    width: 4em;
    height: 4em;
    border-radius: 100%;
    background-image: url('../../../public/image/perfil10.jpg');
    background-size: cover;
}
.titleComents {
    margin-bottom: 4em;
    text-align: center;

}

.titleComents h1 {
    font-size: 36px;
    font-weight: 400;
    color: var(--colors-secondary-100);
}

.clientCards {
    width: 100%;
    display: flex;
    transition: all .3s ease-in-out;
}
.buttonCards{
    width: 84%;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
}
.buttonCards svg{
    width: 36px;
    height: 36px;
    position: absolute;
    color: var(--colors-secondary-100);
    transition: all .3s ease-in-out;
}
.buttonCards svg:hover{
    transform: scale(1.5);
    cursor: pointer;
}
.comentsItems {
    width: 100%;
    height: 100%;
    margin: 24px;
    border-radius: 8px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--colors-neutral-50);
}

.titleCardCometns {
    width: 16em;;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titleCardCometns h2 {
    font-size: 18px;
    font-weight: 400;
    color: black;
}

.starComents {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.starComents svg {
    width: 18px;
    height: 18px;
    margin: 4px 0 0 0 ;
    color: yellow;
}

.comentsText {
    padding: 8px;
}

.comentsText h2 {
    font-size: 14px;
    font-weight: 400;
    color: black;
}
.transition-fade {
    transition: transform .5s ease;
}
@media (max-width:780px) {
    .containerComents {
        height: 100%;
    }
    .comentsItems {
        width: 80%;
    }
    .buttonArrow{
        position: absolute;
    z-index: 8;
    }
}
