.containerAbout{
    width: 100%;
    height: 100%;
    padding: 36px;
    display: flex;
    align-items: center;
    position: relative;
    background-image: url('../../../public/image/backgroundAbout.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.backgroundAbout{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: black;
    position: absolute;
    opacity: .3;
    position: absolute;
    left: 0;
}
.centerAbout{
    width: 36%;
    background-color: var(--colors-secondary-100);
    padding: 36px;
    display: flex;
    flex-direction: column;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    justify-content: center;
    z-index: 1;
    margin-left: 20%;
}
.centerAbout h1{
    font-size: 28px;
    font-weight: 300;
    color: #b1976b;
    margin-bottom: 16px;
    border-left: 8px solid transparent;
    border-top-left-radius: 4px;
}
.centerAbout h2{
    color: #413F3F;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 2em;
}
.buttonUiAbout{
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.buttonCardAbout{
    width: 30%;
}

@media (max-width:1180px) {
    .centerAbout{
        width: 80%;
        margin-left: 10%;
    }
}
@media (max-width:480px) {
    .buttonCardAbout{
        width: 80%;
    }
}